<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.project }} | {{ page.title }}</title>
    
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ page.project }}</h1>
        <p>{{ page.title }}</p>
        <!--
        <p class="view"><a href="https://github.com/timcameronryan/rem">View the Project on GitHub <small>timcameronryan/rem</small></a></p>
      -->
        <ul>
          <!--
          <li><a href="https://github.com/timcameronryan/rem/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/timcameronryan/rem/tarball/master">Download <strong>TAR Ball</strong></a></li>
          -->
          <li><a href="{{ page.link }}">View On <strong>GitHub</strong></a></li>
        </ul>
        <p>See more projects by <a href="https://github.com/timcameronryan">timcameronryan</a> at <a href="http://tcr.io/"><b>tcr.io</b></a></p>
      </header>
      <section>
{{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages<br>Based on a Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>